<div class="form-page">
    <div class="form-page__content">
        <button class="form-page__btn-back btn btn-secondary" (click)="goBack()">Volver</button>
        <div class="form-page__body">
            <div class="form-page__header">
                <h2 class="form-page__title">{{ title() }}</h2>
            </div>
            <bp-product-form-fields [isEditMode]="isEditMode()" [product]="product()" (formSubmit)="onFormSubmit($event)">
            </bp-product-form-fields>
        </div>
    </div>
</div>