.list-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 1.5rem 0;
    gap: 1rem;

    @media (max-width: 575px) {
        flex-direction: column;
        align-items: stretch;

        .btn {
            width: 100%;
        }
    }
}

.list-container {
    background-color: var(--white);
    border-radius: var(--border-radius);
    box-shadow: var(--shadow-sm);
    overflow: hidden;
}